$color-primary: #ad38a1;
$color-secondary: #389ead;
$color-grey-1: #111;
$color-grey-2: #222;
$color-grey-3: #333;
$color-grey-7: #ccc;
$color-grey-8: #ddd;
$color-grey-9: #eee;

$font-color: $color-grey-3;

$font-family: 'Red Hat Text', sans-serif;
$font-weight-light:300;
$font-weight-medium:500;
$font-weight-bold:700;

$gutter: 12px;
